* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: #222222;
    color: #cccccc;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50rem;
}
